# =========================
# Python / Django
# =========================
myvenv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
# =========================
# Python / Django
# =========================
myvenv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
**/__pycache__/
*.pyc
